.input {
	width: 90%;
	height: 30%;
	margin-top: 10px;
	margin-bottom: 10px;

}

.sinput {
	width: 200px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.tk {
	width: 30px;
	background-color: lightgray;
	padding: 5px;
	margin: 10px;
	display: table-cell;
	border: 2px solid white;
	text-align: center;
}
